<%- layout("./layouts/boilerplate"); %>

<h1 class="title has-text-white is-size-2 has-text-centered">To-Do List</h1>

<!-- CREATE BUTTON AND NEW TO-DO -->
<div class="has-background-grey-light box">
    <form action="/todos" method="POST">
        <div class="columns is-mobile">

            <div class="column">
                <input class="box input m-0" type="text" placeholder="New Todo" name="data" id="data">
            </div>

            <div class="column is-4">
                <button class=" button is-fullwidth box is-warning has-text-dark">Create</button>
            </div>

        </div>
    </form>
</div>

<div class="box has-background-info" id="todoBox">

    <!-- BULMA MODAL -->
    <div class="modal" id="myModal">
        <div class="modal-background"></div>
        <div class="modal-card">

            <header class="modal-card-head mx-5">
                <p class="modal-card title has-text-centered mb-0">
                    <%= todos[0].data %>
                </p>
                <button class="delete" aria-label="close"></button>
            </header>

            <section class="modal-card-body mx-5 has-background-info">
                <form action="/todos/<%= todos[0]._id %>?_method=PUT" method="POST" id="editForm">
                    <input class="modal-content input modalInput" type="text" name="data" id="data"
                        placeholder="<%= todos[0].data %>">
                </form>
            </section>

            <footer class="modal-card-foot mx-5">
                <div class="column ml-0 mr-2 mt-0 mb-3 p-0">
                    <form action="/todos/<%= todos[0]._id %>?_method=DELETE" method="POST">
                        <button class="button is-danger is-fullwidth">Delete</button>
                    </form>
                </div>

                <div class="column ml-2 mr-0 mt-0 mb-3 p-0">
                    <button class="button is-success is-fullwidth" form="editForm">Save changes</button>
                </div>
            </footer>

        </div>
    </div>

    <% for (let todo of todos) { %>

    <!-- INPUT BOX WITH DATA VALUE AND DONE BUTTON -->
    <div class="columns is-mobile is-gapless">
        <div class="column">
            <button class="button box input px-3" name="data" id="btn"><%= todo.data %></button>
        </div>
        <div class="column is-3 ml-3">
            <form action="/todos/<%= todo._id %>" method="POST">
                <button class="button is-fullwidth box has-background-success has-text-white mr-2">Done</button>
            </form>
        </div>
    </div>
    <% } %>
</div>

<script>
    const stringify = '<%- JSON.stringify(todos) %>'
    const todos = JSON.parse(stringify);

    // To Submit Two forms with one button.
    submitForms = function () {
        document.querySelector("form1").submit();
        document.querySelector("form2").submit();
    }
</script>