<%- layout("./layout/boilerplate") %>

<section class="section">
    <div class="container column is-two-fifths">

        <h1 class="title has-text-white">To-Do List</h1>

        <div class="box has-background-grey-light">
            <form action="/todos" method="POST">
                <input class="input" type="text" placeholder="New Todo" name="data" id="data">
            </form>

        </div>

        <div class="box has-background-info">
            <% for (let todo of todos) { %>
            <div class="columns is-mobile bodyData">
                <input class="isCheck" type="checkbox">

                <div class="column">
                    <form action="/todos/<%= todo._id %>?_method=PUT" method="POST">
                        <div class="block">
                            <!-- <input class="input todoData" type="text" name="data" id="data" value="<%= todo.data %>"> -->
                            <p onclick="isChecked()" class="box p-3 todoData" id="data" name="data"><%= todo.data %></p>
                        </div>
                    </form>
                </div>

                <div class="block mt-4">
                    <form action="/todos/<%=todo._id%>?_method=DELETE" method="POST">
                        <button class="button box has-background-danger has-text-white mr-2">Delete</button>
                    </form>
                </div>
            </div>
            <% } %>
        </div>
    </div>
</section>

<script>
    const bodyData = document.querySelector(".bodyData");
    const inputData = document.querySelector(".todoData");
    const checkbox = document.querySelector(".isCheck");

    // bodyData.addEventListener("click", (event) => {
    //     const inputData = document.querySelector("p");
    //     const checkbox = document.querySelector(".isCheck");

    //     if (inputData.style.textDecoration !== "line-through") {
    //         inputData.style.textDecoration = "line-through"
    //     } else if (!checkbox.checked) {
    //         inputData.style.textDecoration = "none"
    //     }
    // })


    // inputData.addEventListener("click", (event) => {
    //     if (inputData.style.textDecoration !== "line-through") {
    //         inputData.style.textDecoration = "line-through"
    //     } else if (!checkbox.checked) {
    //         inputData.style.textDecoration = "none"
    //     }
    // })

    // checkbox.forEach(box => box.addEventListener("click", (e) => {
    //     if (checkbox.checked) {
    //         // inputData.style.textDecoration = "line-through"
    //         alert("Checked!");
    //     } else if (!checkbox.checked) {
    //         inputData.style.textDecoration = "none"
    //     }
    // }))


    function isChecked() {
        if (inputData.style.textDecoration !== "line-through") {
            inputData.style.textDecoration = "line-through"
        } else {
            inputData.style.textDecoration = "none"
        }
    }
</script>